on:
  workflow_call:
    inputs:
      testcoverage-config-path:
        description: The path to the .testcoverage.yml file
        required: false
        default: './.testcoverage.yml'
        type: string
      workflow-ref:
        description: If running this on a branch e.g. for testing, you can specify that branch here
        required: false
        default: ''
        type: string

env:
  ACTIONS_REPO: skiff-sh/gh-actions

jobs:
  go-test:
    name: Go test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@v6
        name: Checkout
        with:
          token: '${{ github.token }}'
      - uses: skiff-sh/gh-actions/go@master
        name: Setup go
      - uses: skiff-sh/gh-actions/go-test@master
        name: Go test
        with:
          dirs: ${{ inputs.test-dirs }}
          mindepth: ${{ inputs.test-mindepth }}
          skip-dirs: ${{ inputs.test-skip-dirs }}
      - uses: skiff-sh/gh-actions/go-coverage@master
        name: Go coverage
        with:
          ref-name: ${{ github.ref_name }}
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          testcoverage-config-path: ${{ inputs.testcoverage-config-path }}
  go-lint:
    name: Go lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        name: Checkout
        with:
          token: '${{ github.token }}'
      - uses: skiff-sh/gh-actions/go@master
        name: Setup go
      - uses: skiff-sh/gh-actions/go-lint@master
        name: Go lint
